*{
    margin : 0;
    padding : 0;
  }
  
  body{
    background-color: #FFEDD5;
    font-family: 'Aboreto', sans-serif ;
  }
  
  ul{
    list-style: none;
  }
  
  a{
    color: #995000;
    position: relative;
    top:10px;
  }
  
  a:link, a:visited {
      text-decoration: none
      }
  a:hover {
          text-decoration: underline;
      color:red;
      background:#FED7AA;
      }
  a:active {
      text-decoration: none
      }
  
  header{
    padding: 32px 0;
    text-align: center;
  }
  
  header p{
    font-size: 12px;
  }
  
  header h1{
    margin-bottom: 4px;
    font-size: 34px;
    line-height: 33px;
  }
  
  header .vinhos{
    margin-top: 40px;
    font-size: 25px;
    color: #5e2129  ;
  }
  
  header h1 span{
    color:#995000
  }
  /*header, section{
    max-width: 300px;
    /* border: 1px solid red; */
    /* margin: 0 auto; */
  /* } */
  section{
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  section h2{
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
    font-size:18px;
  
    margin-bottom: 24px;
  }
  
  ul li{
    margin-bottom: 16px;
    display: flex;
  }
  
  li .details{
    max-width: 240px;
  }
  
  .details h3{
    margin-bottom: 5px;
    font-size:16px ;
    line-height: 19px;
  }
  
  .description{
    font-size: 13px;
    font-family: "Rubik Marker Hatch";
  }
  
  #preco{
    margin-left:20px ;
  }
  
  
  #novopreco{
    margin-left: 25px;
  }
  
  #cha{
    margin-left: 43px;
    margin-top: 10px;
  
  }
  
  /* FONTES */
  
  h1,h2,h3{
    font-family: 'Aboreto', serif;
    text-transform: uppercase;
    color:#2D2C2A
  }
  
  .details p{
    color: rgba(0, 0, 0, 0.9);
  }